<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left copyright">
            <ul>
                <li>
                    <strong>Bienvenido:</strong> {{ user?.Name }}
                </li>
                <li>
                   <strong>Nit:</strong> {{ user?.Nit }}
                </li>
                <li>
                    <strong>ID:</strong> {{ user?.Id }}
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{date | date: 'yyyy'}} <span class="btn-link">Dynamic Modular System DMS S.A</span>, Camino a la excelencia!
        </p>
    </div>
</footer>
